-e git+https://github.com/GeoNode/geonode-mapstore-client.git@4.4.x#egg=django_geonode_mapstore_client
-e git+https://github.com/GeoNode/geonode-importer.git@1.1.x#egg=geonode-importer
-e git+https://github.com/GeoNode/geonode.git@4.4.x#egg=GeoNode
# -e git+https://github.com/ilpise/geonode.git@wagtail#egg=GeoNode
# -e git+https://github.com/ilpise/geonode.git@wagtail
# -e git+https://github.com/ilpise/wagtail.git@geonode#egg=wagtail

django-media-fixtures==1.0.0 # <-
django-webpack-loader # <-
coreapi==2.3.3 # <-
pyparsing==3.0.9
ordered-set # <-
rasterio==1.3.2 # <-
scipy
matplotlib # <-


# django-cms dependencies
django-cms==5.0.2
djangocms-admin-style==3.3.1
djangocms-alias==2.0.5
djangocms-versioning==2.4.0